<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= "#{current_page.data.title} | Little B" %></title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
  </head>

  <body class="<%= page_classes %>">
    <header class='container'>
      <div class='content-wrapper'>
        <a href='/' id='logo'>LittleB<span class='suffix'><i class='fa fa-paint-brush'></i>.land</span></a>
        <nav id='topnav'>
          <a href='#' class='sidebar-toggle'><i class='fa fa-reorder'></i></a>
          <%= partial 'nav' %>
        </nav>
      </div>
    </header>

    <% unless current_page.data.no_page_title %>
      <div id='page-title'>
        <% if current_article %>
          <h1 class='article-title content-wrapper'>
            <%= current_page.data.title %>
            <div class='subtitle'>
              <%= current_page.data.subtitle %>
              <%= post_tags current_article %>
            </div>
          </h1>

          <span class='post-author-info content-wrapper'>
            by <span class='post-author'><%= current_article.data.author %></span>
            <%= post_time current_article %>
          </span>
        <% else %>
          <div class='jumbotron-title animated fadeInDown'>
            <div class='background'></div>
            <h1 class='animated fadeInUp'><%= current_page.data.title %></h1>
          </div>
        <% end %>
      </div>
    <% end %>

    <div id='content' class='container'>
      <div class='content-wrapper'>
        <%= yield %>
      </div>
    </div>

    <% unless current_page.data.no_footer %>
      <footer class='container'>
        <span>Copyright ® 2015 <a href='/' class='site-name'>LittleB</a></span>
      </footer>
    <% end %>

    <nav id='sidenav'>
      <a href='#' class='dismiss-btn'><i class='fa fa-angle-right'></i></a>
      <%= partial 'nav' %>
    </nav>
    <div id='modal-mask'></div>

    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag "normalize", "all" %>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <%= javascript_include_tag  "all" %>

  </body>
</html>
