---
title: All Posts
---

<% blog.articles.each do |article| %>
  <div class='post'>
    <a href='<%= article.url %>'>
      <img class='post-cover' src='<%= article.data.cover %>'/>
      <div class='post-title'><%= article.title %></div>
      <div class='post-author-info'>by <span class='post-author'><%= article.data.author %></span></div>
      <div class='post-description'><%= article.data.description %></div>
      <%= post_time article %>
    </a>
  </div>
<% end %>

<div class='clear'></div>
